<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">

<head th:include="include :: header"></head>

<body class="gray-bg">
<div class="wrapper wrapper-content">

    <a href="http://localhost/demo/websocket/client" target="_blank">打开客户端</a>
    <a href="http://localhost/demo/websocket/server" target="_blank">打开服务端</a>
</div>



<script type="text/javascript">



</script>
</body>

<head th:include="include :: footer"></head>
</html>
