<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-demo-edit" action="system/demo/edit" th:object="${demo}">
        <input id="id" name="id" type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label ">名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="Name" id="Name"  th:field="*{name}"/>
            </div>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>

<script type="text/javascript">

    var formobj = $("#form-demo-edit");

    //表单验证
    formobj.validate({
        rules:{

            Name:{
                required:true,
                minlength: 3,
                maxlength: 10
            }
        }

    });

    function submitHandler() {
        if ($.validate.form()) {
            submitAction(formobj);
        }
    }



</script>
</body>
</html>
