<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="demo-form">
                <div class="select-list">
                    <ul>
                        <li>
                            关键字：<input type="text" name="name"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;查询</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" demo="group">
            <a class="btn btn-success" onclick="$.operate.addFull()">
                <i class="fa fa-plus"></i> 新增
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>

<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:demo:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:demo:remove')}]];
    var addFlag = [[${@permission.hasPermi('system:demo:add')}]];
    var prefix = ctx + "demo/system";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            detailUrl: prefix + "/detail/{id}",
            modalName: "系统",
            search: false,
            showExport: false,
            context_Menu: '#context-menu',
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'name',
                    title: '系统名称',
                    width: 200,
                    formatter:function (value, row, index) {
                        return link_detail(row.name,row.id);
                    }
                },
                {
                    field: 'createTime',
                    title: '所属单位',
                    width: 50,
                },
                {
                    field: 'createTime',
                    title: '联系人',
                    width: 250,
                },
                {
                    field: 'createTime',
                    title: '联系电话',
                    width: 100,
                },
                {
                    field: 'createTime',
                    title: '数据分类',
                    width: 10,
                },
                {
                    title: '操作',
                    align: 'center',
                    width: 200,
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');

                    }
                }]
        };
        $.table.init(options);

        var menuData = [
            {
                content: '心跳检测', callback: function () {
                    //TODO 心跳检测
                }
            }
        ];

        $('#menuBtn').click(function () {
            $(this).selectMenu({
                //设置常规菜单模式
                regular: true,
                data: menuData
            });
        });
    });

</script>
</body>
</html>