<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="demo-form">
                <div class="select-list">
                    <ul>
                        <li>
                            名称：<input type="text" name="Name"/>
                        </li>
                        <li>
                            <div class="radio i-checks" style="margin-top: 5px;">
                                <input type="radio" id="disptype1" name="disptype" data-toggle="icheck" value="1" checked/>按分类显示
                                <input type="radio" id="disptype2" name="disptype" data-toggle="icheck" value="2" />按单位显示
                                <input type="radio" id="disptype3" name="disptype" data-toggle="icheck" value="3" />按系统显示
                            </div>
                        </li>

                        <li id="cls">
                            <span class="cls1">
                            数据分类：<select name="catalog1" id="catalog1" lay-filter="">
                                <option value="">--请选择--</option>
                                <option value="">测试数据分类1</option>
                                <option value="">测试数据分类2</option>
                        </select>
                            </span>
                            <span class="cls2">
                            所属单位：<select name="officeId" id="officeId" lay-filter="">
                                <option value="">--请选择--</option>
                                <option value="">测试所属单位1</option>
                                <option value="">测试所属单位2</option>
                        </select>
                        </span>
                            <span class="cls3">
                            所属系统：<select name="systemId" id="systemId" lay-filter="">
                                <option value="">--请选择--</option>
                                <option value="">测试所属系统1</option>
                                <option value="">测试所属系统2</option>
                                </select>
                        </span>
                            <div class="layui-form-mid layui-word-aux" style="margin-top: -3px">
                                数据量每30分钟计算一次，可能存在滞后的情况。
                            </div>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                            <a class="btn btn-warning btn-rounded btn-sm" id="menuBtn">操作</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" demo="group">
            <a class="btn btn-success" onclick="$.operate.addFull()">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.editFull()">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()">
                <i class="fa fa-remove"></i> 删除
            </a>

        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>

<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:demo:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:demo:remove')}]];
    var addFlag = [[${@permission.hasPermi('system:demo:add')}]];
    var prefix = ctx + "demo/resource";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            detailUrl: prefix + "/detail/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "资源目录",
            search: false,
            showExport: false,
            context_Menu: '#context-menu',
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'name',
                    title: '名称',
                    width: 200,
                    /*跳转到修改页*/
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<div class="layui-text"><a href="#" onclick="$.operate.detail(\'' + row.id + '\')">' + row.name + '</a></div>');
                        return actions.join('');
                    }
                },
                {
                    field: 'createTime',
                    title: '数据分类',
                    width: 200,
                },
                {
                    field: 'createTime',
                    title: '采集方式',
                    width: 50,
                },
                {
                    field: 'createTime',
                    title: '数据表',
                    width: 100,
                    /*跳转到配置接口*/
                },
                {
                    field: 'createTime',
                    title: '数据量',
                    width: 10,
                    sortable: true
                    /*跳转查看数据*/
                },
                {
                    field: 'createTime',
                    title: '更新频率',
                    width: 10,
                },
                {
                    field: 'createTime',
                    title: '最新同步',
                    width: 50,
                },
                {
                    field: 'createTime',
                    title: '最新更新',
                    width: 50,
                },
                {
                    field: 'createTime',
                    title: '显示顺序',
                    width: 10,
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    width: 200,
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + addFlag + '" href="#" onclick="$.operate.addFull(\'' + row.menuId + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');

                    }
                }]
        };
        $.table.init(options);

        var menuData = [
            {
                content: '导出选中', callback: function () {
                    $.table.exportExcel();
                }
            }
        ];
        $('#menuBtn').click(function () {
            $(this).selectMenu({
                //设置常规菜单模式
                regular: true,
                data: menuData
            });
        });

        $("input:radio[name='disptype']").on('ifChecked', function (event) {
            shiftDispType(this.value);
        });
        shiftDispType(1);

        function shiftDispType(opt) {
            $(".cls1").hide();
            $(".cls2").hide();
            $(".cls3").hide();
            if(opt==1){
                $(".cls1").show();
                $(".officeId").val("");
                $(".systemId").val("");
            } else if(opt==2){
                $(".cls2").show();
                $("#catalog1").val("");
                $("#systemId").val("");
            } else {
                $(".cls3").show();
                $("#catalog1").val("");
                $("#officeId").val("");
            }
        }

    });
</script>
</body>
</html>