<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">

        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">表单提交</li>
                <li>layui组件</li>
                <li>layui表单</li>
                <li>Http、邮件</li>
                <li>二维码、条码</li>
                <li>word、excel、pdf</li>
                <li>上传、下载</li>
            </ul>

            <div class="layui-tab-content">
                <!--表单提交-->
                <div class="layui-tab-item layui-show">
                    <form class="form-horizontal m" id="form-demo-add" action="demo/all/add">

                        <!--非明细数据-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>所有表单元素 <small>包括自定义样式的复选和单选按钮</small></h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li><a href="form_basic.html#">选项1</a>
                                                </li>
                                                <li><a href="form_basic.html#">选项2</a>
                                                </li>
                                            </ul>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <form method="get" class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">普通</label>

                                                <div class="col-sm-10">
                                                    <input type="text"  name="Name" id="Name" class="form-control" placeholder="提示信息">
                                                    <span class="help-block m-b-none">帮助文本，可能会超过一行，以块级元素显示</span>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">

                                                <label class="col-sm-2 control-label">状态</label>
                                                <div class="col-sm-10">
                                                    <select name="status" class="form-control" th:with="type=${@dict.getType('sys_normal_disable')}">
                                                        <option value="">所有</option>
                                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">密码</label>

                                                <div class="col-sm-10">
                                                    <input type="password" id="pw"  class="form-control" name="password">
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">禁用</label>

                                                <div class="col-sm-10">
                                                    <input type="text" name="name2" disabled="" placeholder="已被禁用" class="form-control">
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">静态控制</label>

                                                <div class="col-sm-10">
                                                    <p class="form-control-static">i@zi-han.net</p>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">复选框&amp;单选框
                                                    <br/><small class="text-navy">自定义样式</small>
                                                </label>

                                                <div class="col-sm-10">
                                                    <div class="checkbox i-checks">
                                                        <label>
                                                            <input type="checkbox" name="ckb1" value=""> <i></i> 选项1</label>
                                                    </div>
                                                    <div class="checkbox i-checks">
                                                        <label>
                                                            <input type="checkbox" name="ckb1" value="" checked=""> <i></i> 选项2（选中）</label>
                                                    </div>
                                                    <div class="checkbox i-checks">
                                                        <label>
                                                            <input type="checkbox" name="ckb1" value="" disabled="" checked=""> <i></i> 选项3（选中并禁用）</label>
                                                    </div>
                                                    <div class="checkbox i-checks">
                                                        <label>
                                                            <input type="checkbox" name="ckb1" value="" disabled=""> <i></i> 选项4（禁用）</label>
                                                    </div>
                                                    <div class="radio i-checks">
                                                        <label>
                                                            <input type="radio" name="ckb2" value="option1"> <i></i> 选项1</label>
                                                    </div>
                                                    <div class="radio i-checks">
                                                        <label>
                                                            <input type="radio" name="ckb2" checked="" value="option2" > <i></i> 选项2（选中）</label>
                                                    </div>
                                                    <div class="radio i-checks">
                                                        <label>
                                                            <input type="radio" name="ckb2" disabled="" checked="" value="option2"> <i></i> 选项3（选中并禁用）</label>
                                                    </div>
                                                    <div class="radio i-checks">
                                                        <label>
                                                            <input type="radio" name="ckb2" disabled=""> <i></i> 选项4（禁用）</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">内联复选框</label>

                                                <div class="col-sm-10">
                                                    <label class="checkbox-inline i-checks">
                                                        <input type="checkbox" value="option1">a</label>
                                                    <label class="checkbox-inline i-checks">
                                                        <input type="checkbox" value="option2">b</label>
                                                    <label class="checkbox-inline i-checks">
                                                        <input type="checkbox" value="option3">c</label>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">日期选择：</label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input type="text" class="form-control" value="2018-04-20">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">备注：</label>
                                                <div class="col-sm-10">
                                                    <textarea id="remark" name="remark" class="form-control" rows="10"></textarea>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--明细数据-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>明细数据
                                            <small style="margin-left: 10px">
                                                <button class="btn btn-primary btn-xs" type="button" onclick="addtr('mytable')"><i class="fa fa-plus"></i>
                                                </button>
                                            </small>
                                        </h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-bordered" id="mytable">
                                            <thead>
                                                <tr>
                                                    <th>姓名</th>
                                                    <th>性别</th>
                                                    <th>年龄</th>
                                                    <th th:width="80" style="text-align: center">操作</th>
                                                </tr>
                                            </thead>
                                            <template>

                                            </template>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text"  name="item_name"  class="form-control" placeholder="请输入姓名"></td>
                                                    <td>
                                                        <select name="status" class="form-control" th:with="type=${@dict.getType('sys_user_sex')}">
                                                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text"  name="item_age"  class="form-control"></td>
                                                    <td style="text-align: center">
                                                        <button class="btn btn-danger btn-xs" type="button" onclick="deltr(this)"><i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!--layui组件-->
                <div class="layui-tab-item">

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 60px;">
                        <legend>常规时间线</legend>
                    </fieldset>
                    <ul class="layui-timeline">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">8月18日</h3>
                                <p>
                                    layui 2.0 的一切准备工作似乎都已到位。发布之弦，一触即发。
                                    <br>不枉近百个日日夜夜与之为伴。因小而大，因弱而强。
                                    <br>无论它能走多远，抑或如何支撑？至少我曾倾注全心，无怨无悔 <i class="layui-icon"></i>
                                </p>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">8月16日</h3>
                                <p>杜甫的思想核心是儒家的仁政思想，他有<em>“致君尧舜上，再使风俗淳”</em>的宏伟抱负。个人最爱的名篇有：</p>
                                <ul>
                                    <li>《登高》</li>
                                    <li>《茅屋为秋风所破歌》</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">8月15日</h3>
                                <p>
                                    中国人民抗日战争胜利日
                                    <br>常常在想，尽管对这个国家有这样那样的抱怨，但我们的确生在了最好的时代
                                    <br>铭记、感恩
                                    <br>所有为中华民族浴血奋战的英雄将士
                                    <br>永垂不朽
                                </p>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">过去</div>
                            </div>
                        </li>
                    </ul>


                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                        <legend>手风琴折叠</legend>
                    </fieldset>
                    <div class="layui-collapse" lay-accordion="">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">layui 更适合哪些开发者？</h2>
                            <div class="layui-colla-content layui-show">
                                <p>在前端技术快速变革的今天，layui 仍然坚持语义化的组织模式，甚至于模块理念都是采用类AMD组织形式，并非是有意与时代背道而驰。layui 认为以jQuery为核心的开发方式还没有到完全消亡的时候，而早期市面上基于jQuery的UI都普通做得差强人意，所以需要有一个新的UI去重新为这一领域注入活力，并采用一些更科学的架构方式。
                                    <br>
                                    因此准确地说，layui 更多是面向那些追求开发简单的前端工程师们，以及所有层次的服务端程序员。</p>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">为什么JS社区大量采用未发布或者未广泛支持的语言特性？</h2>
                            <div class="layui-colla-content">
                                <p>有不少其他答案说是因为JS太差。我下面的答案已经说了，这不是根本性的原因。但除此之外，我还要纠正一些对JS具体问题的误解。JS当初是被作为脚本语言设计的，所以某些问题并不是JS设计得差或者是JS设计者的失误。比如var的作用域问题，并不是“错误”，而是当时绝大部分脚本语言都是这样的，如perl/php/sh等。模块的问题也是，脚本语言几乎都没有模块/命名空间功能。弱类型、for-in之类的问题也是，只不过现在用那些老的脚本语言的人比较少，所以很多人都误以为是JS才有的坑。另外有人说JS是半残语言，满足不了开发需求，1999年就该死。半残这个嘛，就夸张了。JS虽然有很多问题，但是设计总体还是优秀的。——来自知乎@贺师俊</p>
                            </div>
                        </div>

                    </div>


                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>半星效果</legend>
                    </fieldset>

                    <div id="start1"></div>
                    <div><div id="start2"></div></div>

                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">网站设置</li>
                            <li>用户管理<span class="layui-badge-dot"></span></li>
                            <li>最新邮件<span class="layui-badge">99+</span></li>
                        </ul>
                        <div class="layui-tab-content"></div>
                    </div>
                </div>
                <!--layui表单-->
                <div class="layui-tab-item">
                    <blockquote class="layui-elem-quote layui-text">
                        鉴于小伙伴的普遍反馈，先温馨提醒两个常见“问题”：1. <a href="/doc/base/faq.html#form" target="_blank">为什么select/checkbox/radio没显示？</a> 2. <a href="/doc/modules/form.html#render" target="_blank">动态添加的表单元素如何更新？</a>
                    </blockquote>

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend>表单集合演示</legend>
                    </fieldset>

                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">单行输入框</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">验证必填项</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">验证手机</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">验证邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">多规则验证</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="number" lay-verify="required|number" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">验证日期</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">验证链接</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">验证身份证</label>
                            <div class="layui-input-block">
                                <input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">自定义验证</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">范围</label>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">单行选择框</label>
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao">
                                    <option value=""></option>
                                    <option value="0">写作</option>
                                    <option value="1" selected="">阅读</option>
                                    <option value="2">游戏</option>
                                    <option value="3">音乐</option>
                                    <option value="4">旅行</option>
                                </select>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">分组选择框</label>
                                <div class="layui-input-inline">
                                    <select name="quiz">
                                        <option value="">请选择问题</option>
                                        <optgroup label="城市记忆">
                                            <option value="你工作的第一个城市">你工作的第一个城市</option>
                                        </optgroup>
                                        <optgroup label="学生时代">
                                            <option value="你的工号">你的工号</option>
                                            <option value="你最喜欢的老师">你最喜欢的老师</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">搜索选择框</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-verify="required" lay-search="">
                                        <option value="">直接选择或搜索选择</option>
                                        <option value="1">layer</option>
                                        <option value="2">form</option>
                                        <option value="3">layim</option>
                                        <option value="4">element</option>
                                        <option value="5">laytpl</option>
                                        <option value="6">upload</option>
                                        <option value="7">laydate</option>
                                        <option value="8">laypage</option>
                                        <option value="9">flow</option>
                                        <option value="10">util</option>
                                        <option value="11">code</option>
                                        <option value="12">tree</option>
                                        <option value="13">layedit</option>
                                        <option value="14">nav</option>
                                        <option value="15">tab</option>
                                        <option value="16">table</option>
                                        <option value="17">select</option>
                                        <option value="18">checkbox</option>
                                        <option value="19">switch</option>
                                        <option value="20">radio</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">联动选择框</label>
                            <div class="layui-input-inline">
                                <select name="quiz1">
                                    <option value="">请选择省</option>
                                    <option value="浙江" selected="">浙江省</option>
                                    <option value="你的工号">江西省</option>
                                    <option value="你最喜欢的老师">福建省</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="quiz2">
                                    <option value="">请选择市</option>
                                    <option value="杭州">杭州</option>
                                    <option value="宁波" disabled="">宁波</option>
                                    <option value="温州">温州</option>
                                    <option value="温州">台州</option>
                                    <option value="温州">绍兴</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="quiz3">
                                    <option value="">请选择县/区</option>
                                    <option value="西湖区">西湖区</option>
                                    <option value="余杭区">余杭区</option>
                                    <option value="拱墅区">临安市</option>
                                </select>
                            </div>
                            <div class="layui-form-mid layui-word-aux">此处只是演示联动排版，并未做联动交互</div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">复选框</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="like[write]" title="写作">
                                <input type="checkbox" name="like[read]" title="阅读" checked="">
                                <input type="checkbox" name="like[game]" title="游戏">
                            </div>
                        </div>

                        <div class="layui-form-item" pane="">
                            <label class="layui-form-label">原始复选框</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                                <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                                <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled="">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">开关-默认关</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">开关-默认开</label>
                            <div class="layui-input-block">
                                <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">单选框</label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" value="男" title="男" checked="">
                                <input type="radio" name="sex" value="女" title="女">
                                <input type="radio" name="sex" value="禁" title="禁用" disabled="">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">普通文本域</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <!--<div class="layui-form-item layui-form-text">
                          <label class="layui-form-label">编辑器</label>
                          <div class="layui-input-block">
                            <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
                          </div>
                        </div>-->
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--Http、邮件-->
                <div class="layui-tab-item">

                    <form class="form-horizontal m" id="form-demo-http" >
                        <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">

                                <div class="ibox-title">
                                    <h5>邮件测试 <small>使用hutool，通过Ajax请求</small></h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibox-content">

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">邮箱地址</label>
                                            <div class="col-sm-10">
                                                <input type="text"  name="mailto" id="mailto" class="form-control" placeholder="邮箱地址">
                                                <span class="help-block m-b-none">邮箱地址为空，默认发送至fei.yu@51e.com.cn</span>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">邮件内容</label>
                                            <div class="col-sm-10">
                                                <textarea id="mailtext" name="mailtext" class="form-control" rows="10"></textarea>
                                            </div>
                                        </div>

                                    <div class="mail-body text-right tooltip-demo">
                                        <a onclick="sendMail()" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> 发送（Ajax）</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>

                <!--二维码、条码-->
                <div class="layui-tab-item">

                    <form class="form-horizontal m" id="form-demo-code" >
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-title">
                                        <h5>二维码 <small>使用hutool，生成在D:\ruoyi目录下</small></h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="ibox-content">

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">二维码内容</label>
                                            <div class="col-sm-10">
                                                <input type="text"  name="qrcode" id="qrcode" class="form-control" placeholder="二维码内容">
                                                <span class="help-block m-b-none">二维码内容为空，默认发送至www.baidu.com</span>
                                            </div>
                                        </div>

                                        <div class="mail-body text-right tooltip-demo">
                                            <a onclick="createQRCode()" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> 生成（Ajax）</a>
                                            <a onclick="checkQRCode()" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> 识别（读取二维码图片中内容）</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <!--word、excel、pdf-->
                <div class="layui-tab-item">

                    <form class="form-horizontal m" id="form-demo-file" >
                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                        </div>
                    </form>
                </div>


                <!--上传、下载-->
                <div class="layui-tab-item">

                    <form class="form-horizontal m" id="form-demo-upload" >
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="test1_img" style="width:200px; height:250px">
                                        <input type="hidden" id="test1_val" name="test1_val"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="layui-btn" id="test2"><i class="layui-icon"></i>上传文件</button>

                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="layui-upload">

                                    <button type="button" class="layui-btn" id="testList"><i class="layui-icon"></i>上传文件（多个）</button>
                                    <div class="layui-upload-list">
                                        <table class="layui-table">
                                            <!--<thead>-->
                                            <!--<tr><th>文件名</th>-->
                                                <!--<th>大小</th>-->
                                                <!--<th>状态</th>-->
                                                <!--<th>操作</th>-->
                                            <!--</tr></thead>-->
                                            <tbody id="demoList"></tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </form>

                </div>

            </div>
        </div>



    </div>

	<div th:include="include::footer"></div>

	<script type="text/javascript">

        //页面控件初始化
        initCtrl();

        var formobj = $("#form-demo-add");

        //表单验证
        formobj.validate({
            rules:{

                Name:{
                    required:true,
                    minlength: 3,
                    maxlength: 10
                },

                // email:{
                //     required:true,
                //     email:true,
                //     remote: {
                //         url: ctx + "system/user/checkEmailUnique",
                //         type: "post",
                //         dataType: "json",
                //         data: {
                //             name: function () {
                //                 return $.common.trim($("#email").val());
                //             }
                //         },
                //         dataFilter: function (data, type) {
                //             return $.validate.unique(data);
                //         }
                //     }
                // },

            }
		});

        //表单提交事件Handler
		function submitHandler() {
	        if ($.validate.form()) {
	        	submitAction(formobj);
	        }
	    }


        function addtr(tableid,refreshIndex){
            var tr = $("#" + tableid +" tr").eq(1).clone();
            tr.appendTo("#" + tableid);
            //添加完成后索引刷新 todo
            if(refreshIndex == true) {
                $("#" + tableid).find("tr").each(function () {
                    var rowIndex = parseInt(this.sectionRowIndex);
                });
            }

        }

        function deltr(obj) {
            var tr=obj.parentNode.parentNode;//obj.parentNode.parentNode是<tr>
            tr.remove();
        }


        function sendMail() {
            var url =ctx + "demo/all/sendMail";
		    $.operate.post(url,$("#form-demo-http").serialize());
        }

        function createQRCode() {
            var url =ctx + "demo/all/createQRCode";
            $.operate.post(url,$("#form-demo-code").serialize());
        }


        function checkQRCode() {
            var url =ctx + "demo/all/checkQRCode";
            $.operate.get(url);
        }




        layui.use('element', function(){
            var $ = layui.jquery
                ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

            //触发事件
            var active = {
                tabAdd: function(){
                    //新增一个Tab项
                    element.tabAdd('demo', {
                        title: '新选项'+ (Math.random()*1000|0) //用于演示
                        ,content: '内容'+ (Math.random()*1000|0)
                        ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                    })
                }
                ,tabDelete: function(othis){
                    //删除指定Tab项
                    element.tabDelete('demo', '44'); //删除：“商品管理”


                    othis.addClass('layui-btn-disabled');
                }
                ,tabChange: function(){
                    //切换到指定Tab项
                    element.tabChange('demo', '22'); //切换到：用户管理
                }
            };

            $('.site-demo-active').on('click', function(){
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });



        });

        layui.use(['rate'], function(){
            var rate = layui.rate;

            //半星效果
            rate.render({
                elem: '#start1'
                ,value: 2.5 //初始值
                ,half: true //开启半星
            })
            rate.render({
                elem: '#start2'
                ,value: 3.5
                ,half: true
                ,text: true
            })

        });


        layui.use('upload', function(){
            var $ = layui.jquery
                ,upload = layui.upload;

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#test1'
                ,url: '/system/upload/uploadFile'
                // ,size: 60 //限制文件大小，单位 KB
                // ,multiple: true //是否允许同时上传多个
                // ,accept: 'file' //允许上传文件类型
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#test1_img').attr('src', result); //图片链接（base64）
                    });
                }
                ,done: function(res){

                    if(res.code > 0){
                        //上传失败
                        return layer.msg('上传失败');
                    } else {
                        //上传成功
                        $('#test1_val').val(res.msg);
                        return layer.msg(res.msg);
                    }

                }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });

            //上传单个文件
            upload.render({
                elem: '#test2'
                ,url: '/system/upload/uploadFile'
                ,multiple: true
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                    });
                }
                ,done: function(res){
                    //上传完毕
                }
            });


            //多文件列表示例
            var demoListView = $('#demoList')
                ,uploadListIns = upload.render({
                elem: '#testList'
                ,url: '/system/upload/uploadFiles'
                ,accept: 'file'
                ,multiple: true
                ,auto: true
                ,bindAction: '#testListAction'
                ,choose: function(obj){
                    var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    //读取本地文件
                    obj.preview(function(index, file, result){
                        var tr = $(['<tr id="upload-'+ index +'">'
                            ,'<td>'+ file.name +'</td>'
                            ,'<td style="text-align:center">'+ (file.size/1014).toFixed(1) +'kb</td>'
                            ,'<td style="text-align:center">等待上传</td>'
                            ,'<td style="text-align:center">'
                            ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                            ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete" >删除</button>'
                            ,'</td>'
                            ,'</tr>'].join(''));

                        //单个重传
                        tr.find('.demo-reload').on('click', function(){
                            obj.upload(index, file);
                        });

                        //删除
                        tr.find('.demo-delete').on('click', function(){
                            delete files[index]; //删除对应的文件
                            tr.remove();
                            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                        });

                        demoListView.append(tr);
                    });
                }
                ,done: function(res, index, upload){
                    if(res.code == 0){ //上传成功 TODO
                        var tr = demoListView.find('tr#upload-'+ index)
                            ,tds = tr.children();
                        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                        //tds.eq(3).html('<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete" onclick="deleteFile()">删除</button>');
                        return delete this.files[index]; //删除文件队列已经上传成功的文件
                    }
                    this.error(index, upload);
                }
                ,error: function(index, upload){
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                    tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                }
            });


        });


	</script>

</body>
</html>
