<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>首页</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>

</head>

<body class="gray-bg">

    <div class="row  border-bottom white-bg dashboard-header">


        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                 便捷、高效、灵活、快速、稳定
                <br><a target="_blank" href="http://www.51e.com.cn">http://www.51e.com.cn</a>
                <h4 class="text-danger">尊重开源、大力改造，只有自己的才是最好的！本平台基于若依后台管理框架v3.2.0改造而来。</h4>
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-3">
            <h2>Hello,Guest</h2>
            <!--<small>移动设备访问请扫描以下二维码：</small>-->
            <!--<br>-->
            <!--<br>-->
            <!--<img th:src="@{/img/qr_code.png}" width="100%" style="max-width:264px;">-->
            <!--<br>-->
        </div>
        <div class="col-sm-5">
            <h2>若依后台管理框架</h2>
            <!--<p>一直想做一款后台管理系统，看了很多优秀的开源项目但是发现没有合适自己的。于是利用空闲休息时间开始自己写一套后台系统。如此有了若依管理系统。，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。所有前端后台代码封装过后十分精简易上手，出错概率低。同时支持移动客户端访问。系统会陆续更新一些实用功能。</p>-->
            <!--<p>-->
                <!--<b>当前版本：</b><span>v[[${version}]]</span>-->
            <!--</p>-->
            <p>
                <span class="label label-warning">&yen;免费开源</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://gitee.com/y_project/RuoYi" target="_blank">
                    <i class="fa fa-cloud"> </i> 开源地址
                </a>
                <a class="btn btn-white btn-bitbucket" href="http://ruoyi.vip" target="_blank">
                    <i class="fa fa-home"></i> 访问主页
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot</li>
                <li>安全框架：Apache Shiro、JWT</li>
                <li>模板引擎：Thymeleaf</li>
                <li>持久层框架：MyBatis、MyBatisPlus</li>
				<li>定时任务:Quartz</li>
                <li>数据库连接池：Druid</li>
                <li>工具类：Fastjson、Hutool</li>
                <li>缓存框架：Redis</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>在若依版本上叠加下组件</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v32">v1.0.0</a><code class="pull-right">2019.03.15</code>
                                        </h5>
                                    </div>
                                    <div id="v32" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ol>
                                                <li>MybatisPlus</li>
                                                <li>Layui</li>
                                                <li>Htool</li>
                                                <li>Redis</li>
                                                <li>JWT</li>
                                                <li>echarts</li>
                                                <li>websocket</li>
                                                <li>weui+前端框架</li>
                                                <li>weixin-java-mp</li>
                                                <li>itextpdf</li>
                                                <li>easypoi</li>
                                                <li>lodop</li>
                                                <li>toastr</li>

                                            </ol>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>待完善</h5>

                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v32">规划中</a><code class="pull-right"></code>
                                        </h5>
                                    </div>
                                    <div id="v33" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ol>
                                                <li>ElectricSearch</li>

                                            </ol>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>相关技术网站</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            	请作者喝杯咖啡。
                        </div>

                        <div class="ibox-content">
                            <p><i class="fa fa-send-o"></i> HuTool：<a href="https://hutool.cn/docs/#/" target="_blank">https://hutool.cn/docs/#/</a>
                            </p>
                            <p><i class="fa fa-send-o"></i> LayUI：<a href="https://www.layui.com" target="_blank">https://www.layui.com</a>
                            </p>
                            <p><i class="fa fa-send-o"></i> MyBatisPlus：<a href="https://mp.baomidou.com/#/" target="_blank">https://mp.baomidou.com/#/</a>
                            </p>
                            <p><i class="fa fa-send-o"></i> ECharts：<a href="https://echarts.baidu.com" target="_blank">https://echarts.baidu.com</a>
                            </p>
                            <p><i class="fa fa-send-o"></i> H+：<a href="http://yanshi.sucaihuo.com/modals/40/4078/demo/" target="_blank">http://yanshi.sucaihuo.com/modals/40/4078/demo/</a>
                            </p>
                        </div>

                        <!--<p id="pay-qrcode">-->
                            <!--<a href="javascript:;"><img th:src="@{/img/pay.png}" width="100%" alt="请使用手机支付宝或者微信扫码支付">-->
                            <!--</a>-->
                        <!--</p>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>


</body>
</html>
