<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-sysDataX-add" th:action="*{formAction}" th:object="${sysDataX}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>源数据表信息 </h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">源数据库连接：</label>
                            <div class="col-sm-8">
                                <input id="readerPort" name="readerPort" th:field="*{readerPort}"
                                       class="form-control required"
                                       type="text" placeholder="输入源数据数据库链接：数据库ip/数据库名，例：127.0.0.1:3306/test">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">源数据库用户名：</label>
                            <div class="col-sm-8">
                                <input id="readerUserName" name="readerUserName" th:field="*{readerUserName}"
                                       class="form-control required"
                                       type="text" placeholder="输入数据库用户名">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">源数据库密码：</label>
                            <div class="col-sm-8">
                                <input id="readerPassword" name="readerPassword" th:field="*{readerPassword}"
                                       class="form-control required"
                                       type="text" placeholder="输入数据库密码">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">源数据表名：</label>
                            <div class="col-sm-8">
                                <input id="readerTableName" name="readerTableName" th:field="*{readerTableName}"
                                       class="form-control required"
                                       type="text" placeholder="输入源数据库数据表名">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sql条件：</label>
                            <div class="col-sm-8">
                                <textarea id="readerWhere" name="readerWhere" th:field="*{readerWhere}" rows="5"
                                          class="form-control" placeholder="输入源数据增量Sql"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">源数据列名：</label>
                            <div class="col-sm-8">
                                <input id="readerColumn" name="readerColumn" th:field="*{readerColumn}"
                                       class="form-control required"
                                       type="text" placeholder="输入源数据数据库列名,多列请用','隔开">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">源数据数据库主键：</label>
                            <div class="col-sm-8">
                                <input id="splitPk" name="splitPk" th:field="*{splitPk}" class="form-control required"
                                       type="text" placeholder="输入源数据数据库主键">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>写入表信息 </h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">写入表链接：</label>
                            <div class="col-sm-8">
                                <input id="writerPort" name="writerPort" th:field="*{writerPort}"
                                       class="form-control required"
                                       type="text" placeholder="输入写入数据库链接：数据库ip/数据库名，例：127.0.0.1:3306/test">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">同步表用户名：</label>
                            <div class="col-sm-8">
                                <input id="writerUserName" name="writerUserName" th:field="*{writerUserName}"
                                       class="form-control required"
                                       type="text" placeholder="输入数据库用户名">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">同步表密码：</label>
                            <div class="col-sm-8">
                                <input id="writerPassword" name="writerPassword" th:field="*{writerPassword}"
                                       class="form-control required"
                                       type="text" placeholder="输入数据库密码">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">执行模式：</label>
                            <div class="col-sm-8">
                                <select class="form-control required" id="writerMode" name="writerMode"
                                        th:field="*{writerMode}">
                                    <option value="insert" label="insert">insert</option>
                                    <option value="replace" label="replace">replace</option>
                                    <option value="update" label="update">update</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">执行前SQL：</label>
                            <div class="col-sm-8">
                                <textarea id="perSql" name="perSql" th:field="*{perSql}" class="form-control required"
                                          rows="5" placeholder="输入执行前需要执行的SQL"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">写入表名：</label>
                            <div class="col-sm-8">
                                <input id="writerTableName" name="writerTableName" th:field="*{writerTableName}"
                                       class="form-control required"
                                       type="text" placeholder="输入写入数据表名">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>作业文件名 </h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">配置文件名：</label>
                            <div class="col-sm-8">
                                <input id="fileName" name="fileName" th:field="*{fileName}"
                                       class="form-control required" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>定时任务管理 </h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">

                            <input type="hidden" name="isSchedule" id="isSchedule">
                            <label class="col-sm-3 control-label">定时任务状态：</label>
                            <div class="col-sm-8">
                                <div class="onoffswitch">
                                    <input type="checkbox" th:checked="*{isSchedule == 1}? true : false"
                                           class="onoffswitch-checkbox"
                                           id="isSchedule_N" name="isSchedule_N">
                                    <label class="onoffswitch-label" for="isSchedule_N">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="scheduleCronDiv">
                            <label class="col-sm-3 control-label">定时表达式：</label>
                            <div class="col-sm-8">
                                <input id="scheduleCron" name="scheduleCron" th:field="*{scheduleCron}"
                                       class="form-control required"
                                       type="text">
                                <div style="margin-top: 10px;" class="alert alert-info alert-dismissable">
                                    <strong>Cron示例：</strong>前后不要有空格<br>
                                    &nbsp;*/5 * * * * ? 每隔5秒执行<br>
                                    &nbsp;0 */1 * * * ? 每隔1分钟执行<br>
                                    &nbsp;0 0 23 * * ? 每天23点执行<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "tool/dataX";
    var cronPrefix = ctx + "monitor/job"

    $(function () {
        if ([[${sysDataX.isSchedule==0}]] || [[${sysDataX.isSchedule==null}]]) {
            $("#scheduleCron").parents(".form-group").hide();
            $("#scheduleCron").val('')
        }

        $("#form-sysDataX-add").click(function (event) {
            if ($("#isSchedule_N").is(":checked") == false) {
                $("#scheduleCron").parents(".form-group").hide();
            } else {
                $("#scheduleCron").parents(".form-group").show();
            }
        })

    })
    $("#form-sysDataX-add").validate({
        rules: {
            scheduleCron: {
                required: true,
                remote: {
                    url: cronPrefix + "/checkCronExpressionIsValid",
                    type: "post",
                    dataType: "json",
                    data: {
                        "cronExpression": function () {
                            return $.common.trim($("#scheduleCron").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return data;
                    }
                }
            },
            fileName: {
                remote: {
                    url: prefix + "/validateFileName",
                    type: "post",
                    dataType: "json",
                    data: {
                        "fileName": function () {
                            return $.common.trim($("#fileName").val());
                        },
                        "oldFileName": function () {
                            return $.common.trim([[${sysDataX.fileName}]]);
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            }
        },
        messages: {
            "fileName": {
                remote: "文件名已存在"
            },
            "scheduleCron": {
                remote: "corn表达式不正确"
            }
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $("#isSchedule").val($("#isSchedule_N").is(':checked') == true ? 1 : 0);
            $("#scheduleCron").val($("#isSchedule_N").is(':checked') == true ? $("#scheduleCron").val() : '');
            $.operate.save(prefix + "/add", $('#form-sysDataX-add').serialize());
        }
    }
</script>
</body>
</html>
